src/main/resources/META-INF/mongo-adapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.mojo.com/schema/mojo/mongo-adapter"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mojo.com/schema/mojo/mongo-adapter"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="MongoAdapter">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="hostname" type="xsd:string" use="required"/>
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="username" type="xsd:string"/>
                    <xsd:attribute name="password" type="xsd:string"/>
                    <xsd:attribute name="dbname" type="xsd:string"/>
                    <xsd:attribute name="poolsize" type="xsd:int"/>
                    <xsd:attribute name="blocksize" type="xsd:int"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>